[Unit]
Description=Traccar Owntracks Proxy

[Service]
ExecStart=/usr/bin/traccar-owntracks-proxy
DynamicUser=true

[Install]
WantedBy=multi-user.target
